{% extends "base.html" %}
{% block title %}
Home - {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    {% if current_user.is_authenticated %}
    <div class="col-lg-2 offset-lg-2">
        {% if current_user.picture_path %}
            <img class="user-image-big" src="{{ url_for('static', filename=current_user.picture_path) }}">
        {% endif %}
    </div>
    <div class="col-lg-4 offset-lg-2">
        <p>User name: {{ current_user.username }}</p>
        <p>E-mail address: {{ current_user.email }}</p>
    </div>
    <div class="col-lg-8 offset-lg-2">
        <h2>Friends</h2>
        <table class="table table-borded">
            {% for friend in friends %}
                <tr>
                    <td><img class="user-image-small" src="{{ url_for('static', filename='perm_imgs/{0}.jpeg'.format(friend))}}"></td>
                    <td>{{ friend }}</td>
                    <td><a href="{{ url_for('app.message', friend=friend) }}" class="btn btn-link">Send message</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>Please log in or register your account</p>
    {% endif %}
</div>
{% endblock %}